{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image" height = 200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a pre-medical biology major at 
        The University of Texas at Austin.</h3>
        <h3>My primary interests are genetics and cancer. I plan on pursuing a career in Oncology</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        
        <h3>Feel free to contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
